[user]
	email = git@austinlucaslake.com
	name = Austin Lucas Lake
	signingkey = {{ gpg_key.fingerprints[0] }}
[commit]
	gpgsign = true
	verbose = true
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	editor = nvim
[diff]
	algorithm = histogram
[push]
	autoSetupRemote = true
